
土澳提前场，社交隔离的影厅终于看到近半年最多的观众 #感谢诺神重振大荧幕# 惊艳MIND-BLOWING！凌厉谍战+轰鸣煽动配乐中迅速构建全新世界观，又悄悄埋下多重伏笔，正反序飙车搏斗戏神奇同框，高潮大战顺逆双向时空交织逆转，瞠目结舌！最终首尾连成完美闭环，一如片名回文TENET，双男主友谊的起点又是终点，重逢亦永别。叹服于诺兰竟能把时间熵逆、祖父悖论等概念如此创新演绎！主演们表现精彩，肯尼爵秀满口音技的莎剧式反派太有魅力。艺指摄影剪辑配乐特效俱佳，奥斯卡级别品质保证！
allstar50 rating
太奇怪的观影体验。诺兰真的走火入魔了，这些年他把前沿物理的那些概念挨个编了个故事，但这回编的已经和故事和人物没有什么关系了，他就是想展示一下他给大家准备的新把式。同行的老梁睡得非常香，像在床边摆了一本物理书。
allstar20 rating
这是一辆没有乘客的过山车，我们透过镜头看这辆过山车翻转腾挪，但内心毫无波澜。
allstar30 rating
荒谬之下你我在最美的时候相遇。正反双打拍的很妙，但毕竟是悖论，逻辑上无法自恰于是从头到尾都在突突突，文戏寡淡，女主那么多戏份比不过帕丁森的一个回眸。可能是今年院线商业片之光了。*乱世拜信条* 

A：最好的时光遇见你
                                    你见遇光时的好最：B
allstar40 rating
诺兰的电影作者化风格非常强，他就像是时间的管理者，这部新片依旧非常的烧脑，观影过程中看似好懂，但当五方最后那句台词一出来，故事立刻变得烧脑起来。【信条】就像一集豪华美剧的首播集，挖了一个巨大的坑，在时间里穿梭的故事线让人想到Netflix第一神剧《暗黑》，有着一样的时空悖论和错综复杂的时间线，烧脑也是源自这其中的时间线和人物身份。一部电影演完了，结果你发现这才是信条宇宙的起点。诺兰套用了007电影的模式，演员嘴里科普着科学原理，还带着诺兰标志性的英式幽默，这些台词就是解释一下关键场景所需的叙事逻辑，对观众来说就是不明觉厉的观感，而类型套路也没有时间让主角思考，叙事只是快节奏的一路往前推，能不能消化就是电影结束之后的事情了。诺兰的电影，好玩的就是解读它如何烧脑，又到了广大网友秀学识和智商优越感的时间！
allstar40 rating
挺有意思但没有打动我，周星驰的《月光宝盒》是不是讲得更好？
allstar40 rating
妈呀，也太烂了吧，一具玩弄华丽高概念而失去灵魂的躯壳，即使铺满打鸡血般的音乐，动作场面也像菜鸡互啄一样毫无波澜，文戏也空洞得可怕，男主和女主的感情莫名其妙毫无化学反应，反派弱的一批又爱加戏，基本就是诺兰所有缺点集大成之作。
allstar10 rating
烧什么脑？设定全都糊过去了，当然烧脑。
allstar20 rating
我觉得失望是来自于你终于发现诺兰很难再达到《盗梦》时期的天才级创意执行，有很多地方让人感觉概念有余，劲道不足。这场一如既往风味的诺兰式致命魔术很难让人拍手称快，甚至反而有点令人坐如针毡。
allstar30 rating
你以为你看懂了50%，实际上你只看懂了5%
allstar50 rating
就没看过这么稀烂的时间类科幻片。宣传说烧脑，大概是一边看一边尝试让这电影逻辑自洽会烧吧。但我放弃思考后，尝试感受，但在世界毁灭阴影下所有人无动于衷，只有一个尝试杀夫的妻子的愤怒，因为她无法和自己的儿子在一起，她也一点不担心自己儿子要面对的将毁灭的世界。有史以来最毫无人性波澜也没有情节波澜的世界毁灭故事，全场带给我最多体感的是4G厅的座椅，完场后全身酸痛。
allstar10 rating
女性刻板印象（被劫持，提前开枪，一直给主角制造麻烦的无脑美女妈妈),各种中二病男人（身患癌症要全世界陪着去死的丈夫，莫名其妙爱上并不熟悉的美女并为了她把皮箱送出去，又为了她不断在过去和未来穿梭），为了陪衬大场面而存在的各种工具人以及炮灰……一个毫无说服力，毫无感染力故事，加上所谓脑洞，制造了2020疫情中最大的营销案件。
allstar10 rating
还是喜欢的，极简中的极繁，经得住拉片，耐得住推敲。诺兰：我本将心向明月，奈何明月照沟渠，爆米花的世界不少我一个人，我永远不会去惯着观众，顺着他们的喜好走，达成他们的要求，我拍电影先满足个人追求，其次才去满足其他人，至于赚不赚钱，作为狮子座我相信自己的一贯品质和做工。
allstar40 rating
寒风晓日映沙滩，日影沙滩竹报安。
安报竹滩沙映日，滩沙映日晓风寒。
       这叫回文诗，这样的诗我们有好多。诺兰导演你喜欢吗？
allstar30 rating
概念和结构压倒一切，诺兰这回是真的一根筋走到底了，用简单的核心设定编织出复杂精细的故事。遵循了谍战类型片的种种俗套，但动作戏和高潮场面却拍得没劲（尽管将倒放这个古老技术用到了极致），人物情感和性格转变在高速剪辑和繁复规则压迫之下自然也就荡然无存。唯有帕丁森的角色立住了，自知宿命却坚持逆行，很容易想到[终结者]和[降临]。时间悖论因果循环的核心也同质于[星际穿越]。对于评分，我比较纠结。一方面，谈到所谓“烧脑”，即需多刷才能完全“看懂”的电影，我更倾向于奥特曼[高斯福庄园]（以写实而意味深长的人物关系、前史、对话与隐晦暗语为重心）和林奇[穆赫兰道]（以梦境逻辑与真实可感的情绪氛围为核心）这两种类型，纯粹理工解谜性质的[信条]并不合我胃口，但在一个方面如此极端且尚有新意的电影，值得四星鼓励。（8.0/10）
allstar40 rating
最棒的部分是音乐。很多细节、台词和动作有一种莫名其妙想幽默但又没成功的囧劲儿。诺兰算是拥有斯德哥尔摩综合征影迷最多的导演了吧？
allstar30 rating
2.5；在「时间」主题的探索路上越走越远&偏，宛如未来和过去的镜像互照，回文叙事的结构依旧花了心思。时间的正向推进与逆序流动，更让我想及《记忆碎片》的演练模式，然而这次诺兰几乎是放弃“电影观感”，而以高强度的密集信息快速塞入观众脑海，以一种几乎是强迫症式的“炫技”让观众上了一堂颇有难度的高精尖物理课，评价分化实属正常——反正于我，并未享受到观影的乐趣。

弊端其实在系列前作中已有显现：大量科学名词的直白解释（所谓烧脑更多源于专业知识的匮乏）；动作戏的杂乱无章；人物情感的高度模式化与强行设定，夫妻戏台词浮夸，反派立足点太弱；如影随形的电子乐与强节奏倒匹配，但存在感委实过强。

或许，抛却这些高概念，压缩一下拍部谍战片更精彩。
allstar30 rating
猪是的念来过倒....
诺兰仰着鼻孔等着观众前面看不懂然后然后逆转逆转大逆转过来舔他的臭脚。什么故事不故事完整不完整都不管了，我今天诺兰就是要把时间线讲的支离破碎，设定讲完我爽了就ok....
100分钟离场。一部150分钟电影的100分钟都一直在同一层里支离破碎的埋线，那这个电影不管是诺兰拍还是卢米埃从墓里跳起来拍，我都觉得这个片儿不可理喻。
多加一颗星给这位导演同志能把时间空间设定讲的明白，剩下不管是人物关系还是剧情安排都稀巴烂，比我看双子杀手的时候难受一百倍。
allstar20 rating
走火入魔丧心病狂
allstar20 rating
脑海飘过四个大字——“没 有 必 要”
allstar30 rating
